nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
}
.carrito{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo{
    font-weight: bold;
    font-size: 1.5rem;
}
.contenedor{
    padding: 2rem;
}
.enlaces{
    display: flex;
    gap: 1rem;
}